<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test app</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body>
        <div>
            <h1> <%= title %> </h1>
            
            <% for(var i=0; i<dogNames.length ; i++) { %>
                <p> <%= dogNames[i] %> </p>
            <% } %>
            
            <form action="/" method="POST">
                <input type="text" name="item" placeholder="Add item"><br><br>
                <button type="submit" name="button" value="pressed" class="btn btn-lg btn-outline-primary">Add</button>
                <button type="submit" name="buttonDelete" value="pressed" class="btn btn-lg btn-outline-warning">Delete</button>
            </form>
        </div>
    </body>
</html>