<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo-list app</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1> <%= title %> </h1>
        </div>
        
         <div class="box">
            <% for(var i=0; i<todoItems.length ; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p> <%= todoItems[i] %> </p>
                </div>
            <% } %>

            <form action="/" method="POST" class="item">
                <input type="text" name="item" placeholder="Add item" autocomplete="off">
                <button type="submit" name="button" value="pressed" class="btn btn-lg btn-outline-primary">+</button>
                <button type="submit" name="buttonDelete" value="pressed" class="btn btn-lg btn-outline-warning">-</button>
            </form>
         </div> 
        
            
        
        
    </body>
</html>