
body {
    background-color: #01101B;
}

div {
    margin-top: 30px;
    text-align: center;
    background-color: #021523;
    color: #D1BDBD;
    width: 70%;
    margin-left: 200px;
    height: 700px;
    padding: 50px;
}

input {
    width: 250px;
    height: 40px;
}

h1 {
    margin-bottom: 20px;
}
